<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="ScriptedGifBuilder.Suite" 
          Version="1.0.0.0" 
          Manufacturer="Tempered Software" 
          UpgradeCode="6914CB16-52BB-4558-8AF7-AF57F54827FB">
    
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

		<Chain>
			<MsiPackage SourceFile="..\..\bin\Installer\ScriptedGIFBuilder.msi" />
		</Chain>
	</Bundle>
</Wix>
